ConsoleMathClient/Service References/MathServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfMathServiceLibrary" />
  <xs:element name="Add">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="i" type="xs:double" />
        <xs:element minOccurs="0" name="j" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sub">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="i" type="xs:double" />
        <xs:element minOccurs="0" name="j" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SubResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddComplexNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfMathServiceLibrary" minOccurs="0" name="i" nillable="true" type="q1:Complex" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfMathServiceLibrary" minOccurs="0" name="j" nillable="true" type="q2:Complex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddComplexNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfMathServiceLibrary" minOccurs="0" name="AddComplexNoResult" nillable="true" type="q3:Complex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubComplexNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfMathServiceLibrary" minOccurs="0" name="i" nillable="true" type="q4:Complex" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfMathServiceLibrary" minOccurs="0" name="j" nillable="true" type="q5:Complex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SubComplexNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfMathServiceLibrary" minOccurs="0" name="SubComplexNoResult" nillable="true" type="q6:Complex" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>